@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300;400;600;700&display=swap')
@import "./rtl"

    
$primary: #5b92e5
$secondary: #e84141
$dark: #111
$body-bg: $dark
$body-color: #fff

$enable-shadows: true
body
    font-family: 'Cairo', sans-serif !important

@import './classes'