.profile-card
    text-align: center
    margin-top: 50px
    border-radius: 0
    padding: 0px 10px 0px 10px
    paddimg: 30px 10px 0px 10px
    background-color: $lighten-dark
    height: auto !important
    &--fixed-height
        height: 200px !important
    &--lg-fixed-height
        height: 250px !important

    &__image
        transform: translateY(-50%)
        margin-bottom: -50px
        margin-left: auto
        margin-right: auto
        width: 100px
        height: 100px
        object-fit: center
        object-position: 50% 50%
        border-radius: 50%
        border-style: solid
        background-color: white
        border-color: $primary
        border-width: 7px

    &__name 
        font-weight: 700
        color: $primary
    &__social
        *
            margin: 2px 4px
            &:hover
                color: $primary
            transaction: color .3s ease
        text-align: center
        
